.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* hanu lock modal css */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe !important;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: black;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.liquidityClose {
  color: black;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.liquidityClose:hover, .liquidityClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* staking styling */
.hanuStake-close,
.miaStake-close,
.gojiStake-close,
.gabaStake-close {
  color: black;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.hanuStake-close:hover, .hanuStake-close:focus,
.gojiStake-close:hover, .gojiStake-close:focus,
.miaStake-close:hover, .miaStake-close:focus,
.gabaStake-close:hover, .gabaStake-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hanuUnstake-close,
.miaUnstake-close,
.gojiUnstake-close,
.gabaUnstake-close {
  color: black;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.hanuUnstake-close:hover, .hanuUnstake-close:focus,
.gojiUnstake-close:hover, .gojiUnstake-close:focus,
.miaUnstake-close:hover, .miaUnstake-close:focus,
.gabaUnstake-close:hover, .gabaUnstake-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* farming styling */
.hanuHarvest-close,
.miaUnharvest-close,
.gojiHarvest-close,
.gabaHarvest-close {
  color: black;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.hanuHarvest-close:hover, .hanuHarvest-close:focus,
.gojiHarvest-close:hover, .gojiHarvest-close:focus,
.miaUnharvest-close:hover, .miaUnharvest-close:focus,
.gabaHarvest-close:hover, .gabaHarvest-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hanuUnharvest-close,
.miaUnharvest-close,
.gojiUnharvest-close,
.gabaUnharvest-close {
  color: black;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.hanuUnharvest-close:hover, .hanuUnharvest-close:focus,
.gojiUnharvest-close:hover, .gojiUnharvest-close:focus,
.miaUnharvest-close:hover, .miaUnharvest-close:focus,
.gabaUnharvest-close:hover, .gabaUnharvest-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.hanu-locking-modal-heading {
  margin-top: 20px;
  font-weight: bold;
  color: black !important;
  text-align: center;
  font-size: 24px !important;
}

.modal-form-input {
  padding: 10px;
  margin: 5px;
  width: 100%;
}

.hanu-locking-submit {
  float: right;
  margin-top: 5px !important;
}

.vote-btn-container {
  width: 100vw;
  display: block;
  height: 44px;
}

.voting-submit {
  margin-top: 5px !important;
  float: right;
  margin-right: 12px;
}

/* notification css */
.notification-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#notification {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 30px;
  font-size: 17px;
}

#notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

/* farming page style */
.harvest-btn {
  margin-left: 5px;
}

.unharvest-btn {
  margin-right: 5px;
}